.intro_part_1 {
  display:inline-block;
}

.intro_part_1 p{
  margin: 0;
  padding: 0;
}

.intro_part_2 {
  display:inline-block;
  padding-bottom: 50px;
}

.intro_part_2 p{
  margin: 0;
  padding: 0;
}

.intro_part_3 {
  display:inline-block;
}


