* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation_container {
  padding: 0;
  margin: 0;
  display: flex;
}

.animation_container p {
  overflow: hidden;
  margin: 0;
}

.animation_container span.cursor {
  display: inline-block;
  background-color: #ccc;
  width: 3px;
  animation: blink 1s infinite;
}

.animation_container span.cursor.typing {
  animation: none;
}

.cursor {
  font-family:  Verdana, sans-serif;
  /* color:  rgb(147, 161, 196); */
  /* font-size: 45px; */
  font-weight: 700;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

